In [7]:
import pandas as pd
import numpy as np
from pyspark.sql import SparkSession

In [8]:
spark = (
    SparkSession.builder
    .appName("Testing")
    .config("spark.driver.extraJavaOptions", "--add-opens=java.base/javax.security.auth=ALL-UNNAMED --enable-native-access=ALL-UNNAMED")
    .config("spark.executor.extraJavaOptions", "--add-opens=java.base/javax.security.auth=ALL-UNNAMED --enable-native-access=ALL-UNNAMED")
    .getOrCreate()
)

In [9]:
df = pd.read_csv(
    filepath_or_buffer="dataset/NYC Accidents 2020.csv"
)

In [10]:
df.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,2020-08-29,15:40:00,BRONX,10466.0,40.89210,-73.833760,POINT (-73.83376 40.8921),PRATT AVENUE,STRANG AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4342908,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
1,2020-08-29,21:00:00,BROOKLYN,11221.0,40.69050,-73.919914,POINT (-73.919914 40.6905),BUSHWICK AVENUE,PALMETTO STREET,NaN,...,Unspecified,NaN,NaN,NaN,4343555,Sedan,Sedan,NaN,NaN,NaN
2,2020-08-29,18:20:00,NaN,NaN,40.81650,-73.946556,POINT (-73.946556 40.8165),8 AVENUE,NaN,NaN,...,NaN,NaN,NaN,NaN,4343142,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
3,2020-08-29,00:00:00,BRONX,10459.0,40.82472,-73.892960,POINT (-73.89296 40.82472),NaN,NaN,1047 SIMPSON STREET,...,Unspecified,Unspecified,Unspecified,NaN,4343588,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Sedan,Motorcycle,NaN
4,2020-08-29,17:10:00,BROOKLYN,11203.0,40.64989,-73.933890,POINT (-73.93389 40.64989),NaN,NaN,4609 SNYDER AVENUE,...,Unspecified,NaN,NaN,NaN,4342953,Sedan,Sedan,NaN,NaN,NaN

In [11]:
df = df.drop(["ZIP CODE", "LONGITUDE", "LATITUDE", "LOCATION"], axis=1)

In [12]:
df.head()

,CRASH DATE,CRASH TIME,BOROUGH,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,2020-08-29,15:40:00,BRONX,PRATT AVENUE,STRANG AVENUE,NaN,0,0,0,0,...,Unspecified,NaN,NaN,NaN,4342908,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
1,2020-08-29,21:00:00,BROOKLYN,BUSHWICK AVENUE,PALMETTO STREET,NaN,2,0,0,0,...,Unspecified,NaN,NaN,NaN,4343555,Sedan,Sedan,NaN,NaN,NaN
2,2020-08-29,18:20:00,NaN,8 AVENUE,NaN,NaN,1,0,1,0,...,NaN,NaN,NaN,NaN,4343142,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
3,2020-08-29,00:00:00,BRONX,NaN,NaN,1047 SIMPSON STREET,0,0,0,0,...,Unspecified,Unspecified,Unspecified,NaN,4343588,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Sedan,Motorcycle,NaN
4,2020-08-29,17:10:00,BROOKLYN,NaN,NaN,4609 SNYDER AVENUE,0,0,0,0,...,Unspecified,NaN,NaN,NaN,4342953,Sedan,Sedan,NaN,NaN,NaN

In [13]:
df.shape

(74881, 25)

In [14]:
# COLLISION_ID is our unique values containing feature.
df["COLLISION_ID"].unique()

array([4342908, 4343555, 4343142, ..., 4269230, 4267482, 4268376],
      shape=(74881,))

In [15]:
df["VEHICLE TYPE CODE 1"].unique().shape  # 273 Unique vehicle types.

(273,)

In [16]:
df["VEHICLE TYPE CODE 1"].unique()

array(['Sedan', 'Station Wagon/Sport Utility Vehicle', 'Bus',
       'Pick-up Truck', 'Box Truck', 'Taxi', 'Bike', 'Convertible', 'PK',
       'Flat Bed', 'E-Bike', nan, 'Motorcycle', 'AMBULANCE', 'Dump',
       'MOPED', 'Ambulance', 'Carry All', '4 dr sedan',
       'Refrigerated Van', 'Work Van', 'Tractor Truck Diesel',
       'E-Scooter', 'Tow Truck / Wrecker', 'Lawnmower',
       'Tractor Truck Gasoline', 'Armored Truck', 'Van', 'Concrete Mixer',
       'UNK', 'Golf Cart', 'Garbage or Refuse', 'Tanker', 'SWT',
       'Bulk Agriculture', 'TRAILER', 'TRAC', 'Moped', 'COURIER',
       'Minibike', 'PSD', 'FDNY fire', 'TRUCK VAN', 'Motorscooter',
       'LIMO', 'Multi-Wheeled Vehicle', 'FDNY TRUCK', 'Chassis Cab',
       'Lift Boom', 'dilevery t', 'DRILL RIG', 'van', 'trailer',
       'DELIVERY', 'ambulance', 'GEN  AMBUL', 'Tractor tr', 'Pumper',
       'OTH', 'TRUCK FLAT', '3-Door', 'Stake or Rack', 'Beverage Truck',
       'Front-Load', 'dump truck', 'FDNY Ambul', 'government',
       'Motorbike', 'FIRETRUCK', 'LIGHT TRAI', 'JOHN DEERE', 'COMMERCIAL',
       'DUMP', 'cross', 'Trailer', 'MOTORSCOOT', 'forklift', 'Go kart',
       'BOX TRUCK', 'TRUCK', 'Flat Rack', 'FIRE TRUCK', 'Van Camper',
       'FDNY #226', 'FREIGHT FL', 'Delv', 'Open Body', 'GARBAGE TR',
       'SCOOTER', 'truck', 'abulance', 'Livestock Rack', 'PICK UP',
       'box truck', 'UTIL', 'USPS VAN', '18 WHEELER', 'AMBULENCE',
       'FOOD TRUCK', 'MOVING VAN', 'backhoe', 'Tractor', 'UNKN',
       'UTILITY VE', 'AMBU', 'suburban', 'UT', 'USPS TRUCK', 'USPS',
       'FDNY AMBUL', 'DELIVERY V', 'Cargo Van', 'moped', 'Bucket Tru',
       'usps', 'DOT EQUIPM', 'FIRE ENGIN', 'ROAD SWEEP', 'Wh Ford co',
       'commercial', 'SLINGSHOT', 'Unknown', '2 dr sedan', 'Horse',
       'fire truck', 'Fork lift', 'E REVEL SC', 'UPS TRUCK', 'Freight',
       'BOBCAT FOR', 'FDNY Engin', 'Tractor Tr', 'FD LADDER',
       'CHEVY EXPR', 'ELECTRIC S', 'J1', 'MAIL TRUCK', 'gator',
       'FDNY ENGIN', 'FDNY FIRE', 'Fire Truck', 'CAT', 'FLATBED',
       'Pick up Tr', 'ELEC. UNIC', '1C', 'DELIVERY T', 'MTA BUS', 'DELV',
       'ambu', 'Minicycle', 'F150XL PIC', 'MECHANICAL', 'WORK VAN',
       'GOLF CART', 'UNKNOWN', 'NYC AMBULA', 'postal bus', 'Trc',
       'NYC FD', 'Pedicab', 'FORK LIFT', 'Pick up', 'f-250', 'FUSION',
       'tow truck', 'com', 'CARGO VAN', 'POSTAL TRU', 'Fdny ambul',
       'REFG', 'E-bike', 'FDNY Fire', 'CHEVROLET', 'HRSE',
       'Enclosed Body - Removable Enclosure', 'hrse', '0', 'BACK HOE',
       'postal tru', 'camper tra', 'EMS', 'E-BIKE', 'School Bus',
       'Ford sprin', 'PICK-UP TR', 'SUBN WHI', 'PICK UP TR', 'FREIG',
       'LCOMM', 'e skate bo', 'E bike', 'MOTOR SCOO', 'Work van',
       'Motorized Home', 'Tow Truck', 'Commercial', 'pc', 'FREIG DELV',
       'Utility.', 'TOW TRUCK', 'DIRT BIKE', 'White ambu', 'FREIGHT TR',
       'TRK', 'USPS POSTA', 'Tow truck', 'escavator', 'P/SH', 'TRL',
       'Lunch Wagon', 'Dump truck', 'FDNY LADDE', 'E-Bik', 'delivery v',
       'Firetruck', 'FDNY EMT', 'OMR', 'pick', 'Tow', 'ford econo',
       'SCHOOL BUS', 'Horse Trai', 'USPS #7530', 'AMB', 'delviery',
       'US POSTAL', 'UTILITY', 'Pickup with mounted Camper', 'TRAIL',
       'Hearse', 'FDNY FIRET', 'FDNY', 'Fire truck', 'FREIGHTLIN',
       'SELF INSUR', 'PUSH SCOOT', 'Ford Van', 'COM TRANS', 'H1',
       'SUBURBAN', 'School bus', 'PICKUP TRU', 'Delivery', 'G com',
       'NYS AMBULA', 'Piggy back', 'ORION', 'tr', 'LIT DIRECT', 'backh',
       'school bus', 'Hopper', 'COM', 'postal ser', 'MTA', 'UTILITY TR',
       'SE', 'nat grid t', 'Bobcat', 'yellow cab', 'Snow Plow', 'D/V WB',
       'tractor tr', 'ESU RESCUE', 'TR-Trailer', 'City', 'TRACTOR',
       'EMERGENCY', 'FORKLIFT', 'OMS', 'Amb', 'TANK'], dtype=object)

In [17]:
df["VEHICLE TYPE CODE 5"].unique()

array([nan, 'PK', 'Station Wagon/Sport Utility Vehicle', 'Motorcycle',
       'Sedan', 'Pick-up Truck', 'Tractor Truck Diesel', 'Motorscooter',
       'Convertible', 'Van', 'Taxi', 'Box Truck', 'E-Scooter',
       'BOX Truck', 'Box truck', 'Dump', 'Bus'], dtype=object)

### Fixing values of car types.

In [18]:
# Fixing misspellings and standardize to proper case
misspellings = {
    'AMBULENCE': 'Ambulance',   # "ENCE" -> "ANCE"
    'Ambulance': 'Ambulance',   # Already correct case
    'GEN  AMBUL': 'Ambulance',  # Abbreviation
    'abulance': 'Ambulance',    # Missing "m"
    'AMB': 'Ambulance',         # Abbreviation
    'AMBU': 'Ambulance',        # Abbreviation
    'Amb': 'Ambulance',         # Mixed case
    'AMBULANCE': 'Ambulance',   # ALL CAPS to proper case
}

# Standardize capitalization - all to proper case (first letter capital)
capitalization_fixes = {
    # Ambulance variations
    'FDNY Ambul': 'Ambulance',
    'FDNY AMBUL': 'Ambulance',
    'Fdny ambul': 'Ambulance',
    'NYC AMBULA': 'Ambulance',
    'NYS AMBULA': 'Ambulance',
    'White ambu': 'Ambulance',
    
    # Fire Truck variations
    'FDNY fire': 'Fire Truck',
    'FDNY FIRET': 'Fire Truck',
    'FDNY TRUCK': 'Fire Truck',
    'FDNY FIRE': 'Fire Truck',
    'FDNY Engin': 'Fire Truck',
    'FDNY ENGIN': 'Fire Truck',
    'Fire Truck': 'Fire Truck',
    'Fire truck': 'Fire Truck',
    'fire truck': 'Fire Truck',
    'Firetruck': 'Fire Truck',
    'FIRETRUCK': 'Fire Truck',
    'FIRE TRUCK': 'Fire Truck',
    'FIRE ENGIN': 'Fire Truck',
    
    # Box Truck
    'BOX TRUCK': 'Box Truck',
    'box truck': 'Box Truck',
    'Box Truck': 'Box Truck',
    
    # Pick-up Truck
    'Pick up Tr': 'Pick-up Truck',
    'PICK-UP TR': 'Pick-up Truck',
    'PICK UP TR': 'Pick-up Truck',
    'Pick up': 'Pick-up Truck',
    'Pickup with mounted Camper': 'Pick-up Truck',
    'PICKUP TRU': 'Pick-up Truck',
    'PICK UP': 'Pick-up Truck',
    'Pick-up Truck': 'Pick-up Truck',
    
    # Van
    'WORK VAN': 'Van',
    'Work van': 'Van',
    'Work Van': 'Van',
    'TRUCK VAN': 'Van',
    'van': 'Van',
    'DELIVERY V': 'Van',
    'delivery v': 'Van',
    'CARGO VAN': 'Van',
    'Cargo Van': 'Van',
    'Van': 'Van',
    
    # Dump Truck
    'Dump': 'Dump Truck',
    'DUMP': 'Dump Truck',
    'dump truck': 'Dump Truck',
    'Dump truck': 'Dump Truck',
    'Dump Truck': 'Dump Truck',
    
    # Tractor
    'Tractor tr': 'Tractor Truck',
    'Tractor Tr': 'Tractor Truck',
    'tractor tr': 'Tractor Truck',
    'TRACTOR': 'Tractor Truck',
    'Tractor': 'Tractor Truck',
    'Tractor Truck Diesel': 'Tractor Truck',
    'Tractor Truck Gasoline': 'Tractor Truck',
    'Tractor tr': 'Tractor Truck',
    'Tractor Truck': 'Tractor Truck',
    
    # Motorcycle variations
    'Motorscooter': 'Motorcycle',
    'MOTORSCOOT': 'Motorcycle',
    'MOTOR SCOO': 'Motorcycle',
    'MOPED': 'Motorcycle',
    'moped': 'Motorcycle',
    'Motorbike': 'Motorcycle',
    'MOTORSCOOTER': 'Motorcycle',
    'Motorscooter': 'Motorcycle',
    'Motorcycle': 'Motorcycle',
    
    # Scooter
    'SCOOTER': 'Scooter',
    'E REVEL SC': 'E-scooter',
    'PUSH SCOOT': 'Scooter',
    'Scooter': 'Scooter',
    
    # Sedan
    '4 dr sedan': 'Sedan',
    '2 dr sedan': 'Sedan',
    '3-Door': 'Sedan',
    'Sedan': 'Sedan',
    
    # E-Bike
    'E-BIKE': 'E-bike',
    'E-Bik': 'E-bike',
    'E bike': 'E-bike',
    'E-Bike': 'E-bike',
    
    # Trailer
    'trailer': 'Trailer',
    'TRAILER': 'Trailer',
    'TRAIL': 'Trailer',
    'TRL': 'Trailer',
    'TR-Trailer': 'Trailer',
    'Trailer': 'Trailer',
    
    # Tow Truck
    'tow truck': 'Tow Truck',
    'TOW TRUCK': 'Tow Truck',
    'Tow truck': 'Tow Truck',
    'Tow Truck': 'Tow Truck',
    'Tow Truck / Wrecker': 'Tow Truck',
    
    # USPS/Mail
    'USPS VAN': 'USPS',
    'USPS TRUCK': 'USPS',
    'USPS POSTA': 'USPS',
    'USPS #7530': 'USPS',
    'postal tru': 'USPS',
    'postal bus': 'USPS',
    'POSTAL TRU': 'USPS',
    'MAIL TRUCK': 'USPS',
    'US POSTAL': 'USPS',
    'postal ser': 'USPS',
    'USPS': 'USPS',
    
    # Delivery
    'DELIVERY': 'Delivery',
    'DELIVERY T': 'Delivery',
    'DELIVERY V': 'Delivery',
    'delviery': 'Delivery',
    'Delv': 'Delivery',
    'DELV': 'Delivery',
    'Delivery': 'Delivery',
    
    # Commercial
    'COM': 'Commercial',
    'com': 'Commercial',
    'commercial': 'Commercial',
    'COM TRANS': 'Commercial',
    'COMMERCIAL': 'Commercial',
    
    # Utility
    'UTIL': 'Utility',
    'UTILITY VE': 'Utility',
    'UT': 'Utility',
    'UTILITY': 'Utility',
    'UTILITY TR': 'Utility',
    'UTILITY.': 'Utility',
    
    # Truck (generic)
    'TRUCK': 'Truck',
    'truck': 'Truck',
    'TRK': 'Truck',
    'Trc': 'Truck',
    'Tr': 'Truck',
    'Truck': 'Truck',
    
    # Garbage
    'GARBAGE TR': 'Garbage Truck',
    'Garbage or Refuse': 'Garbage Truck',
    'Garbage Truck': 'Garbage Truck',
    
    # Freight
    'FREIGHT FL': 'Freight',
    'FREIGHT TR': 'Freight',
    'FREIG': 'Freight',
    'FREIG DELV': 'Freight',
    'FREIGHTLIN': 'Freight',
    'Freight': 'Freight',
    
    # Flat Bed
    'Flat Bed': 'Flat Bed',
    'Flat Rack': 'Flat Bed',
    'FLATBED': 'Flat Bed',
    'TRUCK FLAT': 'Flat Bed',
    
    # Forklift
    'Fork lift': 'Forklift',
    'FORK LIFT': 'Forklift',
    'FORKLIFT': 'Forklift',
    'forklift': 'Forklift',
    
    # Convertible
    'Convertible': 'Convertible',
    'CONVERTIBLE': 'Convertible',
    
    # Golf Cart
    'GOLF CART': 'Golf Cart',
    'Golf Cart': 'Golf Cart',
    
    # Suburban
    'suburban': 'Suburban',
    'SUBN WHI': 'Suburban',
    'SUBURBAN': 'Suburban',
    
    # Bike
    'Bike': 'Bike',
    'BIKE': 'Bike',
    
    # Taxi
    'Taxi': 'Taxi',
    'TAXI': 'Taxi',
    
    # Bus (keep as is - don't change School Bus to Bus)
    'Bus': 'Bus',
    'BUS': 'Bus',
    
    # Station Wagon
    'Station Wagon': 'Station Wagon',
    
    # Convertible
    'Convertible': 'Convertible',
    
    # Bike
    'Bike': 'Bike',
    
    # E-scooter
    'E-Scooter': 'E-scooter',
    
    # Lawnmower
    'Lawnmower': 'Lawnmower',
    
    # Concrete Mixer
    'Concrete Mixer': 'Concrete Mixer',
    
    # Refrigerated Van
    'Refrigerated Van': 'Refrigerated Van',
    
    # Armored Truck
    'Armored Truck': 'Armored Truck',
    
    # Tanker
    'Tanker': 'Tanker',
    
    # Beverage Truck
    'Beverage Truck': 'Beverage Truck',
    
    # Forklift
    'Forklift': 'Forklift',
    
    # Go kart
    'Go kart': 'Go Kart',
    
    # Camper
    'Van Camper': 'Camper',
    
    # Backhoe
    'backhoe': 'Backhoe',
    'BACK HOE': 'Backhoe',
    'BACKHOE': 'Backhoe',
    
    # Bobcat
    'Bobcat': 'Bobcat',
    'BOBCAT FOR': 'Bobcat',
    
    # Snow Plow
    'Snow Plow': 'Snow Plow',
    
    # Hearse
    'Hearse': 'Hearse',
}

# Expand abbreviations
abbreviations = {
    'PK': 'Pickup',
    'PSD': 'Public Safety Vehicle',
    'FDNY': 'Fire Truck',
    'EMS': 'Ambulance',
    'MTA': 'Bus',
    'USPS': 'Mail Truck',
    'FDNY #226': 'Fire Truck',
    'NYC FD': 'Fire Truck',
    'FDNY EMT': 'Ambulance',
    'FDNY LADDE': 'Fire Truck',
    'ESU RESCUE': 'Rescue Vehicle',
    'UNK': 'Unknown',
    'UNKNOWN': 'Unknown',
    'UNKN': 'Unknown',
    'Unknown': 'Unknown',
    'OTH': 'Other',
    'OTHER': 'Other',
    'TRAC': 'Tractor',
    'SWT': 'Station Wagon',
    'LIMO': 'Limousine',
    'PK': 'Pickup',
    'PC': 'Passenger Car',
    'HRSE': 'Horse',
    'H1': 'Hummer H1',
    'J1': 'Jeep',
    '1C': 'One Car',
    'SE': 'Special Equipment',
    'OMS': 'Office of Management Services',
    'OMR': 'Other Motorized Road',
    'LCOMM': 'Light Commercial',
}

In [19]:
"""
Example.
df["VEHICLE TYPE CODE 1"] = df["VEHICLE TYPE CODE 1"] \
    .replace(misspellings) \
    .replace(capitalization_fixes) \
    .replace(abbreviations)
"""

vehicle_columns = [
    "VEHICLE TYPE CODE 1", 
    "VEHICLE TYPE CODE 2", 
    "VEHICLE TYPE CODE 3", 
    "VEHICLE TYPE CODE 4", 
    "VEHICLE TYPE CODE 5"
]

# Applying replacements
for col in df.columns:
    if col in vehicle_columns:
        df[col] = df[col] \
            .replace(misspellings) \
            .replace(capitalization_fixes) \
            .replace(abbreviations)

In [20]:
for col in df.columns:
    if col in vehicle_columns:
        print(df[col].unique().shape)

(142,)
(224,)
(40,)
(25,)
(16,)

### Renaming Columns

In [21]:
renaming_rules = {
    "CRASH DATE": "date",
    "CRASH TIME": "time",
    "NUMBER OF PERSONS INJURED": "persons_injured",
    "NUMBER OF PERSONS KILLED": "persons_killed",
    "NUMBER OF PEDESTRIANS INJURED": "pedestrians_injured",
    "NUMBER OF PEDESTRIANS KILLED": "pedestrians_killed",
    "VEHICLE TYPE CODE 1": "vehicle_type_1",
    "VEHICLE TYPE CODE 2": "vehicle_type_2", 
    "VEHICLE TYPE CODE 3": "vehicle_type_3",
    "VEHICLE TYPE CODE 4": "vehicle_type_4",
    "VEHICLE TYPE CODE 5": "vehicle_type_5",
    "COLLISION_ID": "collision_id"
}

df = df.rename(columns=renaming_rules)

# Converting all remaining columns to lowercase with underscores (aka Snake Case)
for col in df.columns:
    if col not in renaming_rules.values():  # Skiping already renamed columns
        new_name = col.lower().replace(' ', '_')
        df = df.rename(columns={col: new_name})

In [22]:
df.head()

,date,time,borough,on_street_name,cross_street_name,off_street_name,persons_injured,persons_killed,pedestrians_injured,pedestrians_killed,...,contributing_factor_vehicle_2,contributing_factor_vehicle_3,contributing_factor_vehicle_4,contributing_factor_vehicle_5,collision_id,vehicle_type_1,vehicle_type_2,vehicle_type_3,vehicle_type_4,vehicle_type_5
0,2020-08-29,15:40:00,BRONX,PRATT AVENUE,STRANG AVENUE,NaN,0,0,0,0,...,Unspecified,NaN,NaN,NaN,4342908,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
1,2020-08-29,21:00:00,BROOKLYN,BUSHWICK AVENUE,PALMETTO STREET,NaN,2,0,0,0,...,Unspecified,NaN,NaN,NaN,4343555,Sedan,Sedan,NaN,NaN,NaN
2,2020-08-29,18:20:00,NaN,8 AVENUE,NaN,NaN,1,0,1,0,...,NaN,NaN,NaN,NaN,4343142,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
3,2020-08-29,00:00:00,BRONX,NaN,NaN,1047 SIMPSON STREET,0,0,0,0,...,Unspecified,Unspecified,Unspecified,NaN,4343588,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Sedan,Motorcycle,NaN
4,2020-08-29,17:10:00,BROOKLYN,NaN,NaN,4609 SNYDER AVENUE,0,0,0,0,...,Unspecified,NaN,NaN,NaN,4342953,Sedan,Sedan,NaN,NaN,NaN

In [23]:
df["hour"] = df["time"].astype(str).str.split(":").str[0]

In [24]:
df.head()

,date,time,borough,on_street_name,cross_street_name,off_street_name,persons_injured,persons_killed,pedestrians_injured,pedestrians_killed,...,contributing_factor_vehicle_3,contributing_factor_vehicle_4,contributing_factor_vehicle_5,collision_id,vehicle_type_1,vehicle_type_2,vehicle_type_3,vehicle_type_4,vehicle_type_5,hour
0,2020-08-29,15:40:00,BRONX,PRATT AVENUE,STRANG AVENUE,NaN,0,0,0,0,...,NaN,NaN,NaN,4342908,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,15
1,2020-08-29,21:00:00,BROOKLYN,BUSHWICK AVENUE,PALMETTO STREET,NaN,2,0,0,0,...,NaN,NaN,NaN,4343555,Sedan,Sedan,NaN,NaN,NaN,21
2,2020-08-29,18:20:00,NaN,8 AVENUE,NaN,NaN,1,0,1,0,...,NaN,NaN,NaN,4343142,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN,18
3,2020-08-29,00:00:00,BRONX,NaN,NaN,1047 SIMPSON STREET,0,0,0,0,...,Unspecified,Unspecified,NaN,4343588,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Sedan,Motorcycle,NaN,00
4,2020-08-29,17:10:00,BROOKLYN,NaN,NaN,4609 SNYDER AVENUE,0,0,0,0,...,NaN,NaN,NaN,4342953,Sedan,Sedan,NaN,NaN,NaN,17

In [25]:
df.to_csv(path_or_buf="nyc_traffic_processed.csv", index=False)

In [26]:
from pyspark.sql.types import (
        StructType, 
        StructField, 
        StringType, 
        TimestampType, 
        IntegerType,
)

# Schema with proper types
schema = StructType([
    StructField("date", TimestampType(), True),
    StructField("time", TimestampType(), True),
    StructField("borough", StringType(), True),
    StructField("on_street_name", StringType(), True),
    StructField("cross_street_name", StringType(), True),
    StructField("off_street_name", StringType(), True),
    StructField("persons_injured", IntegerType(), True),  # Should be integer
    StructField("persons_killed", IntegerType(), True),   # Should be integer
    StructField("pedestrians_injured", IntegerType(), True),
    StructField("pedestrians_killed", IntegerType(), True),
    StructField("number_of_cyclist_injured", IntegerType(), True),
    StructField("number_of_cyclist_killed", IntegerType(), True),
    StructField("number_of_motorist_injured", IntegerType(), True),
    StructField("number_of_motorist_killed", IntegerType(), True),
    StructField("contributing_factor_vehicle_1", StringType(), True),
    StructField("contributing_factor_vehicle_2", StringType(), True),
    StructField("contributing_factor_vehicle_3", StringType(), True),
    StructField("contributing_factor_vehicle_4", StringType(), True),
    StructField("contributing_factor_vehicle_5", StringType(), True),
    StructField("collision_id", StringType(), True),
    StructField("vehicle_type_1", StringType(), True),
    StructField("vehicle_type_2", StringType(), True),
    StructField("vehicle_type_3", StringType(), True),
    StructField("vehicle_type_4", StringType(), True),
    StructField("vehicle_type_5", StringType(), True),
    StructField("hour", IntegerType(), True),  # Should be integer 0-23
])

df = spark.read.csv("nyc_traffic_processed.csv", header=True, schema=schema)

In [27]:
df.createOrReplaceTempView("accidents_table")

### Basic Selection of Locations

In [28]:
def select_crashes(borough: str):
    result = spark.sql(
        f"""
        select *
        from accidents_table
        where borough = "{borough}"
        """
    )
    result.show()

In [29]:
select_crashes("BROOKLYN")  # User can pass whatever borough 
                            # he needs to analyze.

+-------------------+-------------------+--------+--------------------+-----------------+--------------------+---------------+--------------+-------------------+------------------+-------------------------+------------------------+--------------------------+-------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+------------+--------------------+--------------------+--------------+--------------+--------------+----+
|               date|               time| borough|      on_street_name|cross_street_name|     off_street_name|persons_injured|persons_killed|pedestrians_injured|pedestrians_killed|number_of_cyclist_injured|number_of_cyclist_killed|number_of_motorist_injured|number_of_motorist_killed|contributing_factor_vehicle_1|contributing_factor_vehicle_2|contributing_factor_vehicle_3|contributing_factor_vehicle_4|contributing_factor_vehicle_5|collision_id|      vehicle_type_1|      vehicle_type_2|vehicle_type_3|vehicle_type_4|vehicle_type_5|hour|
+-------------------+-------------------+--------+--------------------+-----------------+--------------------+---------------+--------------+-------------------+------------------+-------------------------+------------------------+--------------------------+-------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+------------+--------------------+--------------------+--------------+--------------+--------------+----+
|2020-08-29 00:00:00|2025-12-07 21:00:00|BROOKLYN|     BUSHWICK AVENUE|  PALMETTO STREET|                NULL|              2|             0|                  0|                 0|                        0|                       0|                         2|                        0|         Reaction to Uninv...|                  Unspecified|                         NULL|                         NULL|                         NULL|     4343555|               Sedan|               Sedan|          NULL|          NULL|          NULL|  21|
|2020-08-29 00:00:00|2025-12-07 17:10:00|BROOKLYN|                NULL|             NULL|  4609 SNYDER AVENUE|              0|             0|                  0|                 0|                        0|                       0|                         0|                        0|         Failure to Yield ...|                  Unspecified|                         NULL|                         NULL|                         NULL|     4342953|               Sedan|               Sedan|          NULL|          NULL|          NULL|  17|
|2020-08-29 00:00:00|2025-12-07 22:53:00|BROOKLYN|WILLIAMSBURG STRE...|     WYTHE AVENUE|                NULL|              0|             0|                  0|                 0|                        0|                       0|                         0|                        0|                  Unspecified|                         NULL|                         NULL|                         NULL|                         NULL|     4343074|               Sedan|                NULL|          NULL|          NULL|          NULL|  22|
|2020-08-29 00:00:00|2025-12-07 13:00:00|BROOKLYN|      BEDFORD AVENUE| WALLABOUT STREET|                NULL|              0|             0|                  0|                 0|                        0|                       0|                         0|                        0|         Driver Inattentio...|                  Unspecified|                         NULL|                         NULL|                         NULL|     4343077|Station Wagon/Spo...|Station Wagon/Spo...|          NULL|          NULL|          NULL|  13|
|2020-08-29 00:00:00|2025-12-07 10:35:00|BROOKLYN|        UNION AVENUE|     GRAND STREET|                NULL|              1|             0|                  0|                 0|                        0|                       0|                         1|                        0|         Driver Inattentio...|              Other Vehicular|                         NULL|                         NULL|                         NULL|     4343073|               Sedan|Station Wagon/Spo...|          NULL|          NULL|          NULL|  10|
|2020-08-29 00:00:00|2025-12-07 13:55:00|BROOKLYN|     HAMILTON AVENUE|    GARNET STREET|                NULL|              1|             0|                  0|                 0|                        0|                       0|                         1|                        0|         Unsafe Lane Changing|                  Unspecified|                         NULL|                         NULL|                         NULL|     4342786|               Sedan|               Sedan|          NULL|          NULL|          NULL|  13|
|2020-08-29 00:00:00|2025-12-07 23:19:00|BROOKLYN|      NEWKIRK AVENUE|  FLATBUSH AVENUE|                NULL|              1|             0|                  0|                 0|                        0|                       0|                         1|                        0|                  Unspecified|                  Unspecified|                         NULL|                         NULL|                         NULL|     4342807|       Pick-up Truck|          Motorcycle|          NULL|          NULL|          NULL|  23|
|2020-08-29 00:00:00|2025-12-07 22:11:00|BROOKLYN|                NULL|             NULL|   1925 QUENTIN ROAD|              1|             0|                  0|                 0|                        1|                       0|                         0|                        0|         Driver Inattentio...|                  Unspecified|                         NULL|                         NULL|                         NULL|     4343158|               Sedan|                Bike|          NULL|          NULL|          NULL|  22|
|2020-08-29 00:00:00|2025-12-07 11:25:00|BROOKLYN|                NULL|             NULL|   820 MONROE STREET|              0|             0|                  0|                 0|                        0|                       0|                         0|                        0|                  Unspecified|                         NULL|                         NULL|                         NULL|                         NULL|     4343421|               Sedan|                NULL|          NULL|          NULL|          NULL|  11|
|2020-08-29 00:00:00|2025-12-07 17:00:00|BROOKLYN|                NULL|             NULL|      1612 81 STREET|              0|             0|                  0|                 0|                        0|                       0|                         0|                        0|         Driver Inattentio...|                  Unspecified|                         NULL|                         NULL|                         NULL|     4342749|Station Wagon/Spo...|                NULL|          NULL|          NULL|          NULL|  17|
|2020-08-29 00:00:00|2025-12-07 21:45:00|BROOKLYN|       KINGS HIGHWAY|    CHURCH AVENUE|                NULL|              1|             0|                  0|                 0|                        0|                       0|                         1|                        0|                  Unspecified|                  Unspecified|                         NULL|                         NULL|                         NULL|     4343396|               Sedan|          Motorcycle|          NULL|          NULL|          NULL|  21|
|2020-08-29 00:00:00|2025-12-07 15:50:00|BROOKLYN|                NULL|             NULL|   1030 OCEAN AVENUE|              0|             0|                  0|                 0|                        0|                       0|                         0|                        0|         Driver Inattentio...|                  Unspecified|                         NULL|                         NULL|                         NULL|     4342811|               Sedan|               Sedan|          NULL|          NULL|          NULL|  15|
|2020-08-29 00:00:00|2025-12-07 09:09:00|BROOKLYN|                NULL|             NULL|  9312 GLENWOOD ROAD|              0|             0|                  0|                 0|                        0|                       0|                         0|                        0|                  Unspecified|                  Unspecified|                         NULL|                         NULL|                         NULL|     4342893|Station Wagon/Spo...|               Sedan|          NULL|          NULL|          NULL|   9|
|2020-08-29 00:00:00|2025-12-07 15:41:00|BROOKLYN|            AVENUE T|   EAST 63 STREET|                NULL|              0|             0|                  0|                 0|                        0|                       0|                         0|                        0|                  Unspecified|                  Unspecified|                         NULL|                         NULL|                         NULL|     4343227|Station Wagon/Spo...|               Sedan|          NULL|          NULL|          NULL|  15|
|2020-08-29 00:00:00|2025-12-07 18:00:00|BROOKLYN|       REMSEN AVENUE|         AVENUE A|                NULL|              1|             0|                  0|                 0|                        0|                       0|                         1|                        0|                  Unspecified|                  Unspecified|                         NULL|                         NULL|                         NULL|     4343098|Station Wagon/Spo...|Station Wagon/Spo...|          NULL|          NULL|          NULL|  18|
|2020-08-29 00:00:00|2025-12-07 14:00:00|BROOKLYN|                NULL|             NULL|   455 SUTTER AVENUE|              0|             0|                  0|                 0|                        0|                       0|                         0|                        0|          Passing Too Closely|                  Unspecified|                         NULL|                         NULL|                         NULL|     4342799|               Sedan|                NULL|          NULL|          NULL|          NULL|  14|
|2020-08-29 00:00:00|2025-12-07 02:54:00|BROOKLYN|           86 STREET|    BAY 35 STREET|                NULL|              1|             0|                  1|                 0|                        0|                       0|                         0|                        0|          Driver Inexperience|                         NULL|                         NULL|                         NULL|                         NULL|     4342904|               Sedan|                NULL|          NULL|          NULL|          NULL|   2|
|2020-08-29 00:00:00|2025-12-07 00:30:00|BROOKLYN|                NULL|             NULL|210 PROSPECT PARK...|              0|             0|                  0|                 0|                        0|                       0|                         0|                        0|         Following Too Clo...|                  Unspecified|                         NULL|                         NULL|                         NULL|     4342698|               Sedan|               Sedan|          NULL|          NULL|          NULL|   0|
|2020-08-29 00:00:00|2025-12-07 12:45:00|BROOKLYN|                NULL|             NULL|  2704 GLENWOOD ROAD|              0|             0|                  0|                 0|                        0|                       0|                         0|                        0|                  Unspecified|                         NULL|                         NULL|                         NULL|                         NULL|     4342812|               Sedan|                NULL|          NULL|          NULL|          NULL|  12|
|2020-08-29 00:00:00|2025-12-07 00:00:00|BROOKLYN|                NULL|             NULL|  5649 KINGS HIGHWAY|              0|             0|                  0|                 0|                        0|                       0|                         0|                        0|                  Unspecified|                  Unspecified|                         NULL|                         NULL|                         NULL|     4342960|               Sedan|                NULL|          NULL|          NULL|          NULL|   0|
+-------------------+-------------------+--------+--------------------+-----------------+--------------------+---------------+--------------+-------------------+------------------+-------------------------+------------------------+--------------------------+-------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+------------+--------------------+--------------------+--------------+--------------+--------------+----+
only showing top 20 rows

In [30]:
def one_person_injured():
    result = spark.sql(
        """
        select *
        from accidents_table
        where persons_injured > 1
        """
    )
    result.show()

In [31]:
one_person_injured()

+-------------------+-------------------+-------------+--------------------+--------------------+------------------+---------------+--------------+-------------------+------------------+-------------------------+------------------------+--------------------------+-------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+------------+--------------------+--------------------+--------------------+--------------------+--------------+----+
|               date|               time|      borough|      on_street_name|   cross_street_name|   off_street_name|persons_injured|persons_killed|pedestrians_injured|pedestrians_killed|number_of_cyclist_injured|number_of_cyclist_killed|number_of_motorist_injured|number_of_motorist_killed|contributing_factor_vehicle_1|contributing_factor_vehicle_2|contributing_factor_vehicle_3|contributing_factor_vehicle_4|contributing_factor_vehicle_5|collision_id|      vehicle_type_1|      vehicle_type_2|      vehicle_type_3|      vehicle_type_4|vehicle_type_5|hour|
+-------------------+-------------------+-------------+--------------------+--------------------+------------------+---------------+--------------+-------------------+------------------+-------------------------+------------------------+--------------------------+-------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+------------+--------------------+--------------------+--------------------+--------------------+--------------+----+
|2020-08-29 00:00:00|2025-12-07 21:00:00|     BROOKLYN|     BUSHWICK AVENUE|     PALMETTO STREET|              NULL|              2|             0|                  0|                 0|                        0|                       0|                         2|                        0|         Reaction to Uninv...|                  Unspecified|                         NULL|                         NULL|                         NULL|     4343555|               Sedan|               Sedan|                NULL|                NULL|          NULL|  21|
|2020-08-29 00:00:00|2025-12-07 10:30:00|       QUEENS| METROPOLITAN AVENUE|       COOPER AVENUE|              NULL|              2|             0|                  0|                 0|                        0|                       0|                         2|                        0|         Failure to Yield ...|                  Unspecified|                         NULL|                         NULL|                         NULL|     4342892|Station Wagon/Spo...|               Sedan|                NULL|                NULL|          NULL|  10|
|2020-08-29 00:00:00|2025-12-07 12:29:00|        BRONX|   WEST FORDHAM ROAD|MAJOR DEEGAN EXPR...|              NULL|              2|             0|                  0|                 0|                        0|                       0|                         2|                        0|            Pavement Slippery|         View Obstructed/L...|                         NULL|                         NULL|                         NULL|     4342833|       Pick-up Truck|Station Wagon/Spo...|                NULL|                NULL|          NULL|  12|
|2020-08-29 00:00:00|2025-12-07 19:39:00|         NULL|        BELT PARKWAY|                NULL|              NULL|              4|             0|                  0|                 0|                        0|                       0|                         4|                        0|         Failure to Keep R...|                  Unspecified|                         NULL|                         NULL|                         NULL|     4342752|Station Wagon/Spo...|               Sedan|                NULL|                NULL|          NULL|  19|
|2020-08-29 00:00:00|2025-12-07 18:20:00|         NULL|           FDR DRIVE|                NULL|              NULL|              2|             0|                  0|                 0|                        0|                       0|                         2|                        0|                 Unsafe Speed|                  Unspecified|                         NULL|                         NULL|                         NULL|     4342730|               Sedan|               Sedan|                NULL|                NULL|          NULL|  18|
|2020-08-29 00:00:00|2025-12-07 12:18:00|     BROOKLYN|                NULL|                NULL|1292 HALSEY STREET|              2|             0|                  0|                 0|                        0|                       0|                         2|                        0|          Driver Inexperience|                  Unspecified|                  Unspecified|                         NULL|                         NULL|     4343516|               Sedan|Station Wagon/Spo...|               Sedan|                NULL|          NULL|  12|
|2020-08-29 00:00:00|2025-12-07 14:50:00|        BRONX|     EAST 149 STREET|         PARK AVENUE|              NULL|              3|             0|                  0|                 0|                        0|                       0|                         3|                        0|         Driver Inattentio...|                  Unspecified|                  Unspecified|                         NULL|                         NULL|     4343141|                Taxi|Station Wagon/Spo...|Station Wagon/Spo...|                NULL|          NULL|  14|
|2020-08-29 00:00:00|2025-12-07 21:50:00|     BROOKLYN|     EASTERN PARKWAY|    ROCHESTER AVENUE|              NULL|              2|             0|                  0|                 0|                        0|                       0|                         2|                        0|          Passing Too Closely|                  Unspecified|                         NULL|                         NULL|                         NULL|     4342970|               Sedan|               Sedan|                NULL|                NULL|          NULL|  21|
|2020-08-29 00:00:00|2025-12-07 20:39:00|       QUEENS|    QUEENS BOULEVARD|           51 AVENUE|              NULL|              3|             0|                  0|                 0|                        0|                       0|                         3|                        0|          Driver Inexperience|                  Unspecified|                         NULL|                         NULL|                         NULL|     4342836|          Motorcycle|               Sedan|                NULL|                NULL|          NULL|  20|
|2020-08-29 00:00:00|2025-12-07 01:24:00|       QUEENS|       GLEANE STREET|      WHITNEY AVENUE|              NULL|              3|             0|                  0|                 0|                        0|                       0|                         3|                        0|         Driver Inattentio...|                  Unspecified|                         NULL|                         NULL|                         NULL|     4343005|               Sedan|Station Wagon/Spo...|                NULL|                NULL|          NULL|   1|
|2020-08-29 00:00:00|2025-12-07 22:00:00|       QUEENS|           78 STREET|      LIBERTY AVENUE|              NULL|              3|             0|                  0|                 0|                        0|                       0|                         3|                        0|         Traffic Control D...|         Failure to Yield ...|                         NULL|                         NULL|                         NULL|     4342795|               Sedan|               Sedan|                NULL|                NULL|          NULL|  22|
|2020-08-29 00:00:00|2025-12-07 13:40:00|         NULL|LONG ISLAND EXPRE...|                NULL|              NULL|              4|             0|                  0|                 0|                        0|                       0|                         4|                        0|         Following Too Clo...|                  Unspecified|                         NULL|                         NULL|                         NULL|     4343035|Station Wagon/Spo...|Station Wagon/Spo...|                NULL|                NULL|          NULL|  13|
|2020-08-29 00:00:00|2025-12-07 10:45:00|     BROOKLYN|       CLYMER STREET|       JULIANA PLACE|              NULL|              2|             0|                  0|                 0|                        0|                       0|                         2|                        0|             Backing Unsafely|         Driver Inattentio...|                         NULL|                         NULL|                         NULL|     4343080|Station Wagon/Spo...|               Sedan|                NULL|                NULL|          NULL|  10|
|2020-08-29 00:00:00|2025-12-07 10:11:00|STATEN ISLAND|      SEAVIEW AVENUE| CAPODANNO BOULEVARD|              NULL|              2|             0|                  0|                 0|                        0|                       0|                         2|                        0|                  Unspecified|                  Unspecified|                         NULL|                         NULL|                         NULL|     4342760|          Dump Truck|               Sedan|                NULL|                NULL|          NULL|  10|
|2020-08-29 00:00:00|2025-12-07 00:00:00|       QUEENS|            BROADWAY|           57 STREET|              NULL|              2|             0|                  0|                 0|                        0|                       0|                         2|                        0|         Driver Inattentio...|         Driver Inattentio...|         Driver Inattentio...|                         NULL|                         NULL|     4342848|               Sedan|          Motorcycle|          Motorcycle|                NULL|          NULL|   0|
|2020-08-29 00:00:00|2025-12-07 16:00:00|         NULL|   MERRICK BOULEVARD|                NULL|              NULL|              2|             0|                  0|                 0|                        0|                       0|                         2|                        0|         Driver Inattentio...|         Driver Inattentio...|                         NULL|                         NULL|                         NULL|     4343450|               Sedan|               Sedan|                NULL|                NULL|          NULL|  16|
|2020-08-29 00:00:00|2025-12-07 19:48:00|     BROOKLYN|        GATES AVENUE|       MYRTLE AVENUE|              NULL|              2|             0|                  0|                 0|                        0|                       0|                         2|                        0|           Turning Improperly|         Failure to Keep R...|         Failure to Keep R...|                         NULL|                         NULL|     4343514|               Sedan|               Sedan|               Sedan|                NULL|          NULL|  19|
|2020-08-29 00:00:00|2025-12-07 11:29:00|         NULL|LONG ISLAND EXPRE...|                NULL|              NULL|              2|             0|                  0|                 0|                        0|                       0|                         2|                        0|         Following Too Clo...|                  Unspecified|                  Unspecified|                         NULL|                         NULL|     4342704|Station Wagon/Spo...|               Sedan|               Sedan|                NULL|          NULL|  11|
|2020-08-29 00:00:00|2025-12-07 16:30:00|         NULL|LONG ISLAND EXPRE...|                NULL|              NULL|              2|             0|                  0|                 0|                        0|                       0|                         2|                        0|         Driver Inattentio...|                  Unspecified|                  Unspecified|                  Unspecified|                         NULL|     4342717|Station Wagon/Spo...|Station Wagon/Spo...|Station Wagon/Spo...|Station Wagon/Spo...|          NULL|  16|
|2020-08-29 00:00:00|2025-12-07 14:30:00|        BRONX|     WEST 195 STREET|    RESERVOIR AVENUE|              NULL|              7|             0|                  0|                 0|                        0|                       0|                         7|                        0|         Failure to Yield ...|         Unsafe Lane Changing|                         NULL|                         NULL|                         NULL|     4342835|               Sedan|Station Wagon/Spo...|                NULL|                NULL|          NULL|  14|
+-------------------+-------------------+-------------+--------------------+--------------------+------------------+---------------+--------------+-------------------+------------------+-------------------------+------------------------+--------------------------+-------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+------------+--------------------+--------------------+--------------------+--------------------+--------------+----+
only showing top 20 rows

### Little Filtering

In [32]:
def select_contributing_factors_1(factor: str):
    result = spark.sql(
        f"""
        select *
        from accidents_table
        where contributing_factor_vehicle_1 = "{factor}"
        """
    )
    result.show()

In [33]:
select_contributing_factors_1(factor="Driver Inexperience")  # Again, user can
                                                             # pass whatever parameter he needs

+-------------------+-------------------+---------+--------------------+-----------------+--------------------+---------------+--------------+-------------------+------------------+-------------------------+------------------------+--------------------------+-------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+------------+--------------------+--------------------+--------------+--------------+--------------+----+
|               date|               time|  borough|      on_street_name|cross_street_name|     off_street_name|persons_injured|persons_killed|pedestrians_injured|pedestrians_killed|number_of_cyclist_injured|number_of_cyclist_killed|number_of_motorist_injured|number_of_motorist_killed|contributing_factor_vehicle_1|contributing_factor_vehicle_2|contributing_factor_vehicle_3|contributing_factor_vehicle_4|contributing_factor_vehicle_5|collision_id|      vehicle_type_1|      vehicle_type_2|vehicle_type_3|vehicle_type_4|vehicle_type_5|hour|
+-------------------+-------------------+---------+--------------------+-----------------+--------------------+---------------+--------------+-------------------+------------------+-------------------------+------------------------+--------------------------+-------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+------------+--------------------+--------------------+--------------+--------------+--------------+----+
|2020-08-29 00:00:00|2025-12-07 13:20:00|     NULL|      PACIFIC STREET|             NULL|                NULL|              0|             0|                  0|                 0|                        0|                       0|                         0|                        0|          Driver Inexperience|                  Unspecified|                         NULL|                         NULL|                         NULL|     4343433|               Sedan|               Sedan|          NULL|          NULL|          NULL|  13|
|2020-08-29 00:00:00|2025-12-07 02:54:00| BROOKLYN|           86 STREET|    BAY 35 STREET|                NULL|              1|             0|                  1|                 0|                        0|                       0|                         0|                        0|          Driver Inexperience|                         NULL|                         NULL|                         NULL|                         NULL|     4342904|               Sedan|                NULL|          NULL|          NULL|          NULL|   2|
|2020-08-29 00:00:00|2025-12-07 12:18:00| BROOKLYN|                NULL|             NULL|  1292 HALSEY STREET|              2|             0|                  0|                 0|                        0|                       0|                         2|                        0|          Driver Inexperience|                  Unspecified|                  Unspecified|                         NULL|                         NULL|     4343516|               Sedan|Station Wagon/Spo...|         Sedan|          NULL|          NULL|  12|
|2020-08-29 00:00:00|2025-12-07 14:15:00|   QUEENS|                NULL|             NULL|88-01 QUEENS BOUL...|              0|             0|                  0|                 0|                        0|                       0|                         0|                        0|          Driver Inexperience|                  Unspecified|                         NULL|                         NULL|                         NULL|     4343000|               Sedan|                NULL|          NULL|          NULL|          NULL|  14|
|2020-08-29 00:00:00|2025-12-07 20:39:00|   QUEENS|    QUEENS BOULEVARD|        51 AVENUE|                NULL|              3|             0|                  0|                 0|                        0|                       0|                         3|                        0|          Driver Inexperience|                  Unspecified|                         NULL|                         NULL|                         NULL|     4342836|          Motorcycle|               Sedan|          NULL|          NULL|          NULL|  20|
|2020-08-28 00:00:00|2025-12-07 20:35:00| BROOKLYN|                NULL|             NULL|    135 OCEAN AVENUE|              0|             0|                  0|                 0|                        0|                       0|                         0|                        0|          Driver Inexperience|         Unsafe Lane Changing|                         NULL|                         NULL|                         NULL|     4342655|               Sedan|Station Wagon/Spo...|          NULL|          NULL|          NULL|  20|
|2020-08-28 00:00:00|2025-12-07 10:00:00|MANHATTAN|                NULL|             NULL| 360 WEST 122 STREET|              0|             0|                  0|                 0|                        0|                       0|                         0|                        0|          Driver Inexperience|                         NULL|                         NULL|                         NULL|                         NULL|     4342570|Station Wagon/Spo...|                NULL|          NULL|          NULL|          NULL|  10|
|2020-08-28 00:00:00|2025-12-07 12:00:00| BROOKLYN|        RUTLAND ROAD|   EAST 92 STREET|                NULL|              1|             0|                  1|                 0|                        0|                       0|                         0|                        0|          Driver Inexperience|                         NULL|                         NULL|                         NULL|                         NULL|     4342954|               Sedan|                NULL|          NULL|          NULL|          NULL|  12|
|2020-08-28 00:00:00|2025-12-07 18:29:00|     NULL|        RALPH AVENUE|             NULL|                NULL|              1|             0|                  0|                 0|                        0|                       0|                         1|                        0|          Driver Inexperience|                  Unspecified|                         NULL|                         NULL|                         NULL|     4343418|               Sedan|               Sedan|          NULL|          NULL|          NULL|  18|
|2020-08-27 00:00:00|2025-12-07 00:10:00| BROOKLYN|                NULL|             NULL|     145 ELMIRA LOOP|              0|             0|                  0|                 0|                        0|                       0|                         0|                        0|          Driver Inexperience|         Driver Inattentio...|                         NULL|                         NULL|                         NULL|     4342275|               Sedan|Station Wagon/Spo...|          NULL|          NULL|          NULL|   0|
|2020-08-27 00:00:00|2025-12-07 20:50:00|     NULL|   ASTORIA BOULEVARD|       103 STREET|                NULL|              0|             0|                  0|                 0|                        0|                       0|                         0|                        0|          Driver Inexperience|                         NULL|                         NULL|                         NULL|                         NULL|     4342627|               Sedan|                NULL|          NULL|          NULL|          NULL|  20|
|2020-08-27 00:00:00|2025-12-07 14:21:00|     NULL|            BROADWAY|             NULL|                NULL|              0|             0|                  0|                 0|                        0|                       0|                         0|                        0|          Driver Inexperience|                  Unspecified|                         NULL|                         NULL|                         NULL|     4343412|                 Bus|               Sedan|          NULL|          NULL|          NULL|  14|
|2020-08-27 00:00:00|2025-12-07 10:00:00|     NULL|       JEROME AVENUE|             NULL|                NULL|              1|             0|                  0|                 0|                        0|                       0|                         1|                        0|          Driver Inexperience|                  Unspecified|                         NULL|                         NULL|                         NULL|     4342494|               Sedan|           Box Truck|          NULL|          NULL|          NULL|  10|
|2020-08-27 00:00:00|2025-12-07 07:00:00|     NULL|                NULL|             NULL|1258 RICHMOND AVENUE|              0|             0|                  0|                 0|                        0|                       0|                         0|                        0|          Driver Inexperience|                  Unspecified|                         NULL|                         NULL|                         NULL|     4342242|Station Wagon/Spo...|Station Wagon/Spo...|          NULL|          NULL|          NULL|   7|
|2020-08-27 00:00:00|2025-12-07 08:40:00| BROOKLYN|       EAST 9 STREET|         AVENUE H|                NULL|              0|             0|                  0|                 0|                        0|                       0|                         0|                        0|          Driver Inexperience|                  Unspecified|                         NULL|                         NULL|                         NULL|     4342253|          Motorcycle|Station Wagon/Spo...|          NULL|          NULL|          NULL|   8|
|2020-08-26 00:00:00|2025-12-07 22:20:00| BROOKLYN|      JAMAICA AVENUE|   LINWOOD STREET|                NULL|              0|             0|                  0|                 0|                        0|                       0|                         0|                        0|          Driver Inexperience|                  Unspecified|                         NULL|                         NULL|                         NULL|     4342266|Station Wagon/Spo...|Station Wagon/Spo...|          NULL|          NULL|          NULL|  22|
|2020-08-26 00:00:00|2025-12-07 02:50:00|     NULL|           FDR DRIVE|             NULL|                NULL|              0|             0|                  0|                 0|                        0|                       0|                         0|                        0|          Driver Inexperience|                  Unspecified|                         NULL|                         NULL|                         NULL|     4342123|               Sedan|                NULL|          NULL|          NULL|          NULL|   2|
|2020-08-26 00:00:00|2025-12-07 16:20:00|   QUEENS|FRANCIS LEWIS BOU...|       254 STREET|                NULL|              2|             0|                  0|                 0|                        0|                       0|                         2|                        0|          Driver Inexperience|                  Unspecified|                         NULL|                         NULL|                         NULL|     4342085|                Taxi|               Sedan|          NULL|          NULL|          NULL|  16|
|2020-08-26 00:00:00|2025-12-07 11:43:00|   QUEENS|           23 STREET|          44 ROAD|                NULL|              1|             0|                  0|                 0|                        0|                       0|                         1|                        0|          Driver Inexperience|         Driver Inattentio...|                         NULL|                         NULL|                         NULL|     4342525|Station Wagon/Spo...|          Motorcycle|          NULL|          NULL|          NULL|  11|
|2020-08-26 00:00:00|2025-12-07 12:08:00|     NULL| NEW ENGLAND THRUWAY|             NULL|                NULL|              1|             0|                  0|                 0|                        0|                       0|                         1|                        0|          Driver Inexperience|                  Unspecified|                         NULL|                         NULL|                         NULL|     4342076|          Motorcycle|               Sedan|          NULL|          NULL|          NULL|  12|
+-------------------+-------------------+---------+--------------------+-----------------+--------------------+---------------+--------------+-------------------+------------------+-------------------------+------------------------+--------------------------+-------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+------------+--------------------+--------------------+--------------+--------------+--------------+----+
only showing top 20 rows

In [34]:
df.printSchema()

root
 |-- date: timestamp (nullable = true)
 |-- time: timestamp (nullable = true)
 |-- borough: string (nullable = true)
 |-- on_street_name: string (nullable = true)
 |-- cross_street_name: string (nullable = true)
 |-- off_street_name: string (nullable = true)
 |-- persons_injured: integer (nullable = true)
 |-- persons_killed: integer (nullable = true)
 |-- pedestrians_injured: integer (nullable = true)
 |-- pedestrians_killed: integer (nullable = true)
 |-- number_of_cyclist_injured: integer (nullable = true)
 |-- number_of_cyclist_killed: integer (nullable = true)
 |-- number_of_motorist_injured: integer (nullable = true)
 |-- number_of_motorist_killed: integer (nullable = true)
 |-- contributing_factor_vehicle_1: string (nullable = true)
 |-- contributing_factor_vehicle_2: string (nullable = true)
 |-- contributing_factor_vehicle_3: string (nullable = true)
 |-- contributing_factor_vehicle_4: string (nullable = true)
 |-- contributing_factor_vehicle_5: string (nullable = true)
 |-- collision_id: string (nullable = true)
 |-- vehicle_type_1: string (nullable = true)
 |-- vehicle_type_2: string (nullable = true)
 |-- vehicle_type_3: string (nullable = true)
 |-- vehicle_type_4: string (nullable = true)
 |-- vehicle_type_5: string (nullable = true)
 |-- hour: integer (nullable = true)

In [35]:
def crashed_after_time(hour: str):
    result = spark.sql(
        f"""
        select *
        from accidents_table
        where hour >= "{hour}"
        """
    )
    result.show()

In [36]:
crashed_after_time("15")

+-------------------+-------------------+---------+--------------------+-----------------+-------------------+---------------+--------------+-------------------+------------------+-------------------------+------------------------+--------------------------+-------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+------------+--------------------+--------------------+--------------------+--------------+--------------+----+
|               date|               time|  borough|      on_street_name|cross_street_name|    off_street_name|persons_injured|persons_killed|pedestrians_injured|pedestrians_killed|number_of_cyclist_injured|number_of_cyclist_killed|number_of_motorist_injured|number_of_motorist_killed|contributing_factor_vehicle_1|contributing_factor_vehicle_2|contributing_factor_vehicle_3|contributing_factor_vehicle_4|contributing_factor_vehicle_5|collision_id|      vehicle_type_1|      vehicle_type_2|      vehicle_type_3|vehicle_type_4|vehicle_type_5|hour|
+-------------------+-------------------+---------+--------------------+-----------------+-------------------+---------------+--------------+-------------------+------------------+-------------------------+------------------------+--------------------------+-------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+------------+--------------------+--------------------+--------------------+--------------+--------------+----+
|2020-08-29 00:00:00|2025-12-07 15:40:00|    BRONX|        PRATT AVENUE|    STRANG AVENUE|               NULL|              0|             0|                  0|                 0|                        0|                       0|                         0|                        0|          Passing Too Closely|                  Unspecified|                         NULL|                         NULL|                         NULL|     4342908|               Sedan|Station Wagon/Spo...|                NULL|          NULL|          NULL|  15|
|2020-08-29 00:00:00|2025-12-07 21:00:00| BROOKLYN|     BUSHWICK AVENUE|  PALMETTO STREET|               NULL|              2|             0|                  0|                 0|                        0|                       0|                         2|                        0|         Reaction to Uninv...|                  Unspecified|                         NULL|                         NULL|                         NULL|     4343555|               Sedan|               Sedan|                NULL|          NULL|          NULL|  21|
|2020-08-29 00:00:00|2025-12-07 18:20:00|     NULL|            8 AVENUE|             NULL|               NULL|              1|             0|                  1|                 0|                        0|                       0|                         0|                        0|             Backing Unsafely|                         NULL|                         NULL|                         NULL|                         NULL|     4343142|Station Wagon/Spo...|                NULL|                NULL|          NULL|          NULL|  18|
|2020-08-29 00:00:00|2025-12-07 17:10:00| BROOKLYN|                NULL|             NULL| 4609 SNYDER AVENUE|              0|             0|                  0|                 0|                        0|                       0|                         0|                        0|         Failure to Yield ...|                  Unspecified|                         NULL|                         NULL|                         NULL|     4342953|               Sedan|               Sedan|                NULL|          NULL|          NULL|  17|
|2020-08-29 00:00:00|2025-12-07 19:30:00|    BRONX|   LONGFELLOW AVENUE|  EAST 165 STREET|               NULL|              0|             0|                  0|                 0|                        0|                       0|                         0|                        0|                  Unspecified|                         NULL|                         NULL|                         NULL|                         NULL|     4343004|Station Wagon/Spo...|                NULL|                NULL|          NULL|          NULL|  19|
|2020-08-29 00:00:00|2025-12-07 19:50:00|    BRONX|     EAST 233 STREET| CARPENTER AVENUE|               NULL|              0|             0|                  0|                 0|                        0|                       0|                         0|                        0|                 Unsafe Speed|                  Unspecified|                  Unspecified|                         NULL|                         NULL|     4343030|               Sedan|Station Wagon/Spo...|               Sedan|          NULL|          NULL|  19|
|2020-08-29 00:00:00|2025-12-07 21:33:00|    BRONX|     EAST 146 STREET|     BROOK AVENUE|               NULL|              1|             0|                  1|                 0|                        0|                       0|                         0|                        0|                  Unspecified|                         NULL|                         NULL|                         NULL|                         NULL|     4343143|Station Wagon/Spo...|                NULL|                NULL|          NULL|          NULL|  21|
|2020-08-29 00:00:00|2025-12-07 22:53:00| BROOKLYN|WILLIAMSBURG STRE...|     WYTHE AVENUE|               NULL|              0|             0|                  0|                 0|                        0|                       0|                         0|                        0|                  Unspecified|                         NULL|                         NULL|                         NULL|                         NULL|     4343074|               Sedan|                NULL|                NULL|          NULL|          NULL|  22|
|2020-08-29 00:00:00|2025-12-07 19:00:00|     NULL|MAJOR DEEGAN EXPR...|             NULL|               NULL|              1|             0|                  0|                 0|                        0|                       0|                         1|                        0|         Following Too Clo...|         Following Too Clo...|                  Unspecified|                         NULL|                         NULL|     4342727|               Sedan|Station Wagon/Spo...|Station Wagon/Spo...|          NULL|          NULL|  19|
|2020-08-29 00:00:00|2025-12-07 23:19:00| BROOKLYN|      NEWKIRK AVENUE|  FLATBUSH AVENUE|               NULL|              1|             0|                  0|                 0|                        0|                       0|                         1|                        0|                  Unspecified|                  Unspecified|                         NULL|                         NULL|                         NULL|     4342807|       Pick-up Truck|          Motorcycle|                NULL|          NULL|          NULL|  23|
|2020-08-29 00:00:00|2025-12-07 17:45:00|     NULL|           FDR DRIVE|             NULL|               NULL|              0|             0|                  0|                 0|                        0|                       0|                         0|                        0|                  Unspecified|                         NULL|                         NULL|                         NULL|                         NULL|     4342728|               Sedan|                NULL|                NULL|          NULL|          NULL|  17|
|2020-08-29 00:00:00|2025-12-07 22:11:00| BROOKLYN|                NULL|             NULL|  1925 QUENTIN ROAD|              1|             0|                  0|                 0|                        1|                       0|                         0|                        0|         Driver Inattentio...|                  Unspecified|                         NULL|                         NULL|                         NULL|     4343158|               Sedan|                Bike|                NULL|          NULL|          NULL|  22|
|2020-08-29 00:00:00|2025-12-07 16:30:00|MANHATTAN|                NULL|             NULL|   333 GRAND STREET|              1|             0|                  0|                 0|                        0|                       0|                         1|                        0|         Failure to Yield ...|                  Unspecified|                         NULL|                         NULL|                         NULL|     4343011|               Sedan|Station Wagon/Spo...|                NULL|          NULL|          NULL|  16|
|2020-08-29 00:00:00|2025-12-07 18:36:00|    BRONX|         HOME STREET|    BRYANT AVENUE|               NULL|              1|             0|                  1|                 0|                        0|                       0|                         0|                        0|         Failure to Yield ...|                         NULL|                         NULL|                         NULL|                         NULL|     4343219|               Sedan|                NULL|                NULL|          NULL|          NULL|  18|
|2020-08-29 00:00:00|2025-12-07 19:50:00|    BRONX|                NULL|             NULL|611 EAST 182 STREET|              1|             0|                  0|                 0|                        0|                       0|                         1|                        0|             Backing Unsafely|                 Unsafe Speed|                         NULL|                         NULL|                         NULL|     4343350|                Taxi|                Taxi|                NULL|          NULL|          NULL|  19|
|2020-08-29 00:00:00|2025-12-07 17:00:00| BROOKLYN|                NULL|             NULL|     1612 81 STREET|              0|             0|                  0|                 0|                        0|                       0|                         0|                        0|         Driver Inattentio...|                  Unspecified|                         NULL|                         NULL|                         NULL|     4342749|Station Wagon/Spo...|                NULL|                NULL|          NULL|          NULL|  17|
|2020-08-29 00:00:00|2025-12-07 21:45:00| BROOKLYN|       KINGS HIGHWAY|    CHURCH AVENUE|               NULL|              1|             0|                  0|                 0|                        0|                       0|                         1|                        0|                  Unspecified|                  Unspecified|                         NULL|                         NULL|                         NULL|     4343396|               Sedan|          Motorcycle|                NULL|          NULL|          NULL|  21|
|2020-08-29 00:00:00|2025-12-07 20:51:00|   QUEENS|                NULL|             NULL|  117-39 220 STREET|              0|             0|                  0|                 0|                        0|                       0|                         0|                        0|                  Unspecified|                         NULL|                         NULL|                         NULL|                         NULL|     4342767|               Sedan|                NULL|                NULL|          NULL|          NULL|  20|
|2020-08-29 00:00:00|2025-12-07 17:17:00|     NULL|    LAFAYETTE AVENUE|             NULL|               NULL|              0|             0|                  0|                 0|                        0|                       0|                         0|                        0|         Driver Inattentio...|                  Unspecified|                         NULL|                         NULL|                         NULL|     4343042|Station Wagon/Spo...|               Sedan|                NULL|          NULL|          NULL|  17|
|2020-08-29 00:00:00|2025-12-07 20:53:00|    BRONX|                NULL|             NULL|   1315 BOSTON ROAD|              0|             0|                  0|                 0|                        0|                       0|                         0|                        0|         Failure to Yield ...|                  Unspecified|                         NULL|                         NULL|                         NULL|     4343192|               Sedan|Station Wagon/Spo...|                NULL|          NULL|          NULL|  20|
+-------------------+-------------------+---------+--------------------+-----------------+-------------------+---------------+--------------+-------------------+------------------+-------------------------+------------------------+--------------------------+-------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+------------+--------------------+--------------------+--------------------+--------------+--------------+----+
only showing top 20 rows

### Aggregation Tasks

In [37]:
# Counting how many crashes happened in each borough
spark.sql(
    """
    select borough, count(collision_id)
    from accidents_table
    group by borough
    """
).show()

+-------------+-------------------+
|      borough|count(collision_id)|
+-------------+-------------------+
|         NULL|              25741|
|       QUEENS|              14017|
|     BROOKLYN|              16907|
|        BRONX|               9417|
|    MANHATTAN|               7353|
|STATEN ISLAND|               1446|
+-------------+-------------------+

In [38]:
# Finding the number of persons killed per borough.
spark.sql(
    """
    select borough, 
        sum(persons_killed) as killed_persons 
    from accidents_table
    group by borough
    """
).show()

+-------------+--------------+
|      borough|killed_persons|
+-------------+--------------+
|         NULL|            72|
|       QUEENS|            20|
|     BROOKLYN|            27|
|        BRONX|            10|
|    MANHATTAN|             9|
|STATEN ISLAND|             6|
+-------------+--------------+

In [39]:
# Finding the top 5 streets with the highest number of crashes.
spark.sql(
    """
    SELECT on_street_name, 
        COUNT(collision_id) AS number_of_crashes 
    FROM accidents_table
    WHERE on_street_name IS NOT NULL
    GROUP BY on_street_name
    ORDER BY number_of_crashes DESC
    LIMIT 5
    """
).show(truncate=False)

+--------------------------+-----------------+
|on_street_name            |number_of_crashes|
+--------------------------+-----------------+
|BELT PARKWAY              |1241             |
|LONG ISLAND EXPRESSWAY    |745              |
|BROOKLYN QUEENS EXPRESSWAY|738              |
|FDR DRIVE                 |728              |
|MAJOR DEEGAN EXPRESSWAY   |591              |
+--------------------------+-----------------+

In [40]:
# Finding all streets that had more than 100 crashes.
spark.sql(
    """
    SELECT on_street_name, 
        COUNT(collision_id) AS number_of_crashes 
    FROM accidents_table
    WHERE 
        on_street_name IS NOT NULL
    GROUP BY on_street_name
        HAVING number_of_crashes > 100
    """
).show(truncate=False)

+-----------------------+-----------------+
|on_street_name         |number_of_crashes|
+-----------------------+-----------------+
|WOODHAVEN BOULEVARD    |177              |
|MYRTLE AVENUE          |165              |
|FLUSHING AVENUE        |111              |
|EAST 149 STREET        |115              |
|BEDFORD AVENUE         |191              |
|FULTON STREET          |177              |
|FLATLANDS AVENUE       |115              |
|PITKIN AVENUE          |102              |
|BROADWAY               |575              |
|ROCKAWAY BOULEVARD     |225              |
|MAJOR DEEGAN EXPRESSWAY|591              |
|CHURCH AVENUE          |127              |
|BRUCKNER EXPRESSWAY    |337              |
|CANAL STREET           |114              |
|BUSHWICK AVENUE        |216              |
|EAST FORDHAM ROAD      |137              |
|GRAND CENTRAL PARKWAY  |120              |
|WEST FORDHAM ROAD      |118              |
|EAST TREMONT AVENUE    |192              |
|HILLSIDE AVENUE        |166              |
+-----------------------+-----------------+
only showing top 20 rows

### Working with NULL Values

In [41]:
# Counting how many crashes have no borough information (BOROUGH IS NULL).
spark.sql(
    """
    SELECT borough, 
        COUNT(collision_id) AS number_of_crashes
    FROM accidents_table
    WHERE borough is NULL
    GROUP BY borough
    """
).show(truncate=False)

+-------+-----------------+
|borough|number_of_crashes|
+-------+-----------------+
|NULL   |25741            |
+-------+-----------------+

In [48]:
df.printSchema()

root
 |-- date: timestamp (nullable = true)
 |-- time: timestamp (nullable = true)
 |-- borough: string (nullable = true)
 |-- on_street_name: string (nullable = true)
 |-- cross_street_name: string (nullable = true)
 |-- off_street_name: string (nullable = true)
 |-- persons_injured: integer (nullable = true)
 |-- persons_killed: integer (nullable = true)
 |-- pedestrians_injured: integer (nullable = true)
 |-- pedestrians_killed: integer (nullable = true)
 |-- number_of_cyclist_injured: integer (nullable = true)
 |-- number_of_cyclist_killed: integer (nullable = true)
 |-- number_of_motorist_injured: integer (nullable = true)
 |-- number_of_motorist_killed: integer (nullable = true)
 |-- contributing_factor_vehicle_1: string (nullable = true)
 |-- contributing_factor_vehicle_2: string (nullable = true)
 |-- contributing_factor_vehicle_3: string (nullable = true)
 |-- contributing_factor_vehicle_4: string (nullable = true)
 |-- contributing_factor_vehicle_5: string (nullable = true)
 |-- collision_id: string (nullable = true)
 |-- vehicle_type_1: string (nullable = true)
 |-- vehicle_type_2: string (nullable = true)
 |-- vehicle_type_3: string (nullable = true)
 |-- vehicle_type_4: string (nullable = true)
 |-- vehicle_type_5: string (nullable = true)
 |-- hour: integer (nullable = true)

### CASE Statements

In [55]:
spark.sql(
    """
    SELECT 
        *,
        CASE 
            WHEN persons_killed > 0 
                OR pedestrians_killed > 0 
                OR number_of_cyclist_killed > 0 
                OR number_of_motorist_killed > 0
                THEN 'fatal'
            WHEN persons_injured > 0 
                OR pedestrians_injured > 0 
                OR number_of_cyclist_injured > 0 
                OR number_of_motorist_injured > 0
                THEN 'injury_only'
            ELSE 'property_damage'
        END AS crash_severity
    FROM accidents_table
    """
).show(truncate=False)

+-------------------+-------------------+--------+------------------------+-----------------------+-------------------+---------------+--------------+-------------------+------------------+-------------------------+------------------------+--------------------------+-------------------------+------------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+------------+-----------------------------------+-----------------------------------+-----------------------------------+--------------+--------------+----+---------------+
|date               |time               |borough |on_street_name          |cross_street_name      |off_street_name    |persons_injured|persons_killed|pedestrians_injured|pedestrians_killed|number_of_cyclist_injured|number_of_cyclist_killed|number_of_motorist_injured|number_of_motorist_killed|contributing_factor_vehicle_1 |contributing_factor_vehicle_2|contributing_factor_vehicle_3|contributing_factor_vehicle_4|contributing_factor_vehicle_5|collision_id|vehicle_type_1                     |vehicle_type_2                     |vehicle_type_3                     |vehicle_type_4|vehicle_type_5|hour|crash_severity |
+-------------------+-------------------+--------+------------------------+-----------------------+-------------------+---------------+--------------+-------------------+------------------+-------------------------+------------------------+--------------------------+-------------------------+------------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+------------+-----------------------------------+-----------------------------------+-----------------------------------+--------------+--------------+----+---------------+
|2020-08-29 00:00:00|2025-12-07 15:40:00|BRONX   |PRATT AVENUE            |STRANG AVENUE          |NULL               |0              |0             |0                  |0                 |0                        |0                       |0                         |0                        |Passing Too Closely           |Unspecified                  |NULL                         |NULL                         |NULL                         |4342908     |Sedan                              |Station Wagon/Sport Utility Vehicle|NULL                               |NULL          |NULL          |15  |property_damage|
|2020-08-29 00:00:00|2025-12-07 21:00:00|BROOKLYN|BUSHWICK AVENUE         |PALMETTO STREET        |NULL               |2              |0             |0                  |0                 |0                        |0                       |2                         |0                        |Reaction to Uninvolved Vehicle|Unspecified                  |NULL                         |NULL                         |NULL                         |4343555     |Sedan                              |Sedan                              |NULL                               |NULL          |NULL          |21  |injury_only    |
|2020-08-29 00:00:00|2025-12-07 18:20:00|NULL    |8 AVENUE                |NULL                   |NULL               |1              |0             |1                  |0                 |0                        |0                       |0                         |0                        |Backing Unsafely              |NULL                         |NULL                         |NULL                         |NULL                         |4343142     |Station Wagon/Sport Utility Vehicle|NULL                               |NULL                               |NULL          |NULL          |18  |injury_only    |
|2020-08-29 00:00:00|2025-12-07 00:00:00|BRONX   |NULL                    |NULL                   |1047 SIMPSON STREET|0              |0             |0                  |0                 |0                        |0                       |0                         |0                        |Unsafe Speed                  |Unspecified                  |Unspecified                  |Unspecified                  |NULL                         |4343588     |Station Wagon/Sport Utility Vehicle|Station Wagon/Sport Utility Vehicle|Sedan                              |Motorcycle    |NULL          |0   |property_damage|
|2020-08-29 00:00:00|2025-12-07 17:10:00|BROOKLYN|NULL                    |NULL                   |4609 SNYDER AVENUE |0              |0             |0                  |0                 |0                        |0                       |0                         |0                        |Failure to Yield Right-of-Way |Unspecified                  |NULL                         |NULL                         |NULL                         |4342953     |Sedan                              |Sedan                              |NULL                               |NULL          |NULL          |17  |property_damage|
|2020-08-29 00:00:00|2025-12-07 03:29:00|NULL    |WOODHAVEN BOULEVARD     |NULL                   |NULL               |1              |0             |0                  |0                 |0                        |0                       |1                         |0                        |Unspecified                   |Unspecified                  |NULL                         |NULL                         |NULL                         |4342721     |Station Wagon/Sport Utility Vehicle|NULL                               |NULL                               |NULL          |NULL          |3   |injury_only    |
|2020-08-29 00:00:00|2025-12-07 19:30:00|BRONX   |LONGFELLOW AVENUE       |EAST 165 STREET        |NULL               |0              |0             |0                  |0                 |0                        |0                       |0                         |0                        |Unspecified                   |NULL                         |NULL                         |NULL                         |NULL                         |4343004     |Station Wagon/Sport Utility Vehicle|NULL                               |NULL                               |NULL          |NULL          |19  |property_damage|
|2020-08-29 00:00:00|2025-12-07 00:00:00|NULL    |2 AVENUE                |NULL                   |NULL               |0              |0             |0                  |0                 |0                        |0                       |0                         |0                        |Unsafe Lane Changing          |Unspecified                  |NULL                         |NULL                         |NULL                         |4343342     |Station Wagon/Sport Utility Vehicle|NULL                               |NULL                               |NULL          |NULL          |0   |property_damage|
|2020-08-29 00:00:00|2025-12-07 19:50:00|BRONX   |EAST 233 STREET         |CARPENTER AVENUE       |NULL               |0              |0             |0                  |0                 |0                        |0                       |0                         |0                        |Unsafe Speed                  |Unspecified                  |Unspecified                  |NULL                         |NULL                         |4343030     |Sedan                              |Station Wagon/Sport Utility Vehicle|Sedan                              |NULL          |NULL          |19  |property_damage|
|2020-08-29 00:00:00|2025-12-07 09:20:00|QUEENS  |NULL                    |NULL                   |565 WOODWARD AVENUE|0              |0             |0                  |0                 |0                        |0                       |0                         |0                        |Unspecified                   |NULL                         |NULL                         |NULL                         |NULL                         |4343040     |Sedan                              |NULL                               |NULL                               |NULL          |NULL          |9   |property_damage|
|2020-08-29 00:00:00|2025-12-07 00:07:00|QUEENS  |NULL                    |NULL                   |116-52 144 STREET  |0              |0             |0                  |0                 |0                        |0                       |0                         |0                        |Driver Inattention/Distraction|Unspecified                  |Unspecified                  |NULL                         |NULL                         |4342743     |Sedan                              |Station Wagon/Sport Utility Vehicle|Station Wagon/Sport Utility Vehicle|NULL          |NULL          |0   |property_damage|
|2020-08-29 00:00:00|2025-12-07 14:00:00|QUEENS  |ARCHER AVENUE           |MERRICK BOULEVARD      |NULL               |0              |0             |0                  |0                 |0                        |0                       |0                         |0                        |Oversized Vehicle             |Passing Too Closely          |NULL                         |NULL                         |NULL                         |4343448     |Bus                                |Station Wagon/Sport Utility Vehicle|NULL                               |NULL          |NULL          |14  |property_damage|
|2020-08-29 00:00:00|2025-12-07 21:33:00|BRONX   |EAST 146 STREET         |BROOK AVENUE           |NULL               |1              |0             |1                  |0                 |0                        |0                       |0                         |0                        |Unspecified                   |NULL                         |NULL                         |NULL                         |NULL                         |4343143     |Station Wagon/Sport Utility Vehicle|NULL                               |NULL                               |NULL          |NULL          |21  |injury_only    |
|2020-08-29 00:00:00|2025-12-07 22:53:00|BROOKLYN|WILLIAMSBURG STREET WEST|WYTHE AVENUE           |NULL               |0              |0             |0                  |0                 |0                        |0                       |0                         |0                        |Unspecified                   |NULL                         |NULL                         |NULL                         |NULL                         |4343074     |Sedan                              |NULL                               |NULL                               |NULL          |NULL          |22  |property_damage|
|2020-08-29 00:00:00|2025-12-07 04:14:00|NULL    |WATERBURY AVENUE        |NULL                   |NULL               |1              |0             |0                  |0                 |0                        |0                       |1                         |0                        |Unspecified                   |NULL                         |NULL                         |NULL                         |NULL                         |4342716     |Station Wagon/Sport Utility Vehicle|Motorcycle                         |NULL                               |NULL          |NULL          |4   |injury_only    |
|2020-08-29 00:00:00|2025-12-07 06:35:00|NULL    |ROCKAWAY BOULEVARD      |NASSAU EXPRESSWAY      |NULL               |0              |0             |0                  |0                 |0                        |0                       |0                         |0                        |Unspecified                   |Unspecified                  |NULL                         |NULL                         |NULL                         |4342746     |Sedan                              |Station Wagon/Sport Utility Vehicle|NULL                               |NULL          |NULL          |6   |property_damage|
|2020-08-29 00:00:00|2025-12-07 13:00:00|BROOKLYN|BEDFORD AVENUE          |WALLABOUT STREET       |NULL               |0              |0             |0                  |0                 |0                        |0                       |0                         |0                        |Driver Inattention/Distraction|Unspecified                  |NULL                         |NULL                         |NULL                         |4343077     |Station Wagon/Sport Utility Vehicle|Station Wagon/Sport Utility Vehicle|NULL                               |NULL          |NULL          |13  |property_damage|
|2020-08-29 00:00:00|2025-12-07 10:30:00|QUEENS  |METROPOLITAN AVENUE     |COOPER AVENUE          |NULL               |2              |0             |0                  |0                 |0                        |0                       |2                         |0                        |Failure to Yield Right-of-Way |Unspecified                  |NULL                         |NULL                         |NULL                         |4342892     |Station Wagon/Sport Utility Vehicle|Sedan                              |NULL                               |NULL          |NULL          |10  |injury_only    |
|2020-08-29 00:00:00|2025-12-07 12:29:00|BRONX   |WEST FORDHAM ROAD       |MAJOR DEEGAN EXPRESSWAY|NULL               |2              |0             |0                  |0                 |0                        |0                       |2                         |0                        |Pavement Slippery             |View Obstructed/Limited      |NULL                         |NULL                         |NULL                         |4342833     |Pick-up Truck                      |Station Wagon/Sport Utility Vehicle|NULL                               |NULL          |NULL          |12  |injury_only    |
|2020-08-29 00:00:00|2025-12-07 10:35:00|BROOKLYN|UNION AVENUE            |GRAND STREET           |NULL               |1              |0             |0                  |0                 |0                        |0                       |1                         |0                        |Driver Inattention/Distraction|Other Vehicular              |NULL                         |NULL                         |NULL                         |4343073     |Sedan                              |Station Wagon/Sport Utility Vehicle|NULL                               |NULL          |NULL          |10  |injury_only    |
+-------------------+-------------------+--------+------------------------+-----------------------+-------------------+---------------+--------------+-------------------+------------------+-------------------------+------------------------+--------------------------+-------------------------+------------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+------------+-----------------------------------+-----------------------------------+-----------------------------------+--------------+--------------+----+---------------+
only showing top 20 rows

### Window Functions

In [74]:
# Ranking streets by number of crashes for each borough
spark.sql(
    """
    SELECT 
        *,
        DENSE_RANK() OVER(PARTITION BY borough ORDER BY number_of_crashes DESC) as rank
    FROM 
        (SELECT 
            borough,
            on_street_name,
            COUNT(collision_id) AS number_of_crashes
        FROM accidents_table
        WHERE 
            borough IS NOT NULL
            AND
            on_street_name IS NOT NULL
        GROUP BY borough, on_street_name
        ) AS t
    """
).show()

# NOTE: I have checked the result - it is correct, do not worry. After BRONX, there will be BROOKLYN

+-------+--------------------+-----------------+----+
|borough|      on_street_name|number_of_crashes|rank|
+-------+--------------------+-----------------+----+
|  BRONX|  BRUCKNER BOULEVARD|              189|   1|
|  BRONX| EAST TREMONT AVENUE|              144|   2|
|  BRONX|       JEROME AVENUE|              141|   3|
|  BRONX|     GRAND CONCOURSE|              120|   4|
|  BRONX|         BOSTON ROAD|              112|   5|
|  BRONX|  WESTCHESTER AVENUE|              103|   6|
|  BRONX|      WEBSTER AVENUE|              102|   7|
|  BRONX|     EAST 149 STREET|               96|   8|
|  BRONX|   WHITE PLAINS ROAD|               94|   9|
|  BRONX|   EAST FORDHAM ROAD|               91|  10|
|  BRONX|   WEST FORDHAM ROAD|               80|  11|
|  BRONX|  SOUTHERN BOULEVARD|               73|  12|
|  BRONX|  EAST GUN HILL ROAD|               73|  12|
|  BRONX|            3 AVENUE|               71|  13|
|  BRONX|     EAST 233 STREET|               64|  14|
|  BRONX|CROSS BRONX EXPRE...|               57|  15|
|  BRONX|       MORRIS AVENUE|               54|  16|
|  BRONX|     EAST 163 STREET|               48|  17|
|  BRONX|     EAST 138 STREET|               48|  17|
|  BRONX|   UNIVERSITY AVENUE|               38|  18|
+-------+--------------------+-----------------+----+
only showing top 20 rows

In [86]:
# Calculating the running total of injuries ordered by date for every borough.
spark.sql(
    """
    SELECT 
        borough,
        date,
        time,
        SUM(persons_injured + pedestrians_injured + 
            number_of_cyclist_injured + number_of_motorist_injured)
            OVER(
                PARTITION BY borough 
                ORDER BY date, time
                ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW
            ) as running_total_of_injuries
    FROM accidents_table
    WHERE borough IS NOT NULL
    ORDER BY borough, date, time
    """
).show()

+-------+-------------------+-------------------+-------------------------+
|borough|               date|               time|running_total_of_injuries|
+-------+-------------------+-------------------+-------------------------+
|  BRONX|2020-01-01 00:00:00|2025-12-07 00:00:00|                        0|
|  BRONX|2020-01-01 00:00:00|2025-12-07 00:27:00|                        0|
|  BRONX|2020-01-01 00:00:00|2025-12-07 00:37:00|                        0|
|  BRONX|2020-01-01 00:00:00|2025-12-07 02:05:00|                        0|
|  BRONX|2020-01-01 00:00:00|2025-12-07 02:20:00|                        2|
|  BRONX|2020-01-01 00:00:00|2025-12-07 02:24:00|                        8|
|  BRONX|2020-01-01 00:00:00|2025-12-07 03:30:00|                        8|
|  BRONX|2020-01-01 00:00:00|2025-12-07 03:45:00|                        8|
|  BRONX|2020-01-01 00:00:00|2025-12-07 04:46:00|                        8|
|  BRONX|2020-01-01 00:00:00|2025-12-07 04:50:00|                       10|
|  BRONX|2020-01-01 00:00:00|2025-12-07 05:00:00|                       10|
|  BRONX|2020-01-01 00:00:00|2025-12-07 05:00:00|                       10|
|  BRONX|2020-01-01 00:00:00|2025-12-07 05:00:00|                       10|
|  BRONX|2020-01-01 00:00:00|2025-12-07 05:50:00|                       10|
|  BRONX|2020-01-01 00:00:00|2025-12-07 05:51:00|                       10|
|  BRONX|2020-01-01 00:00:00|2025-12-07 05:53:00|                       10|
|  BRONX|2020-01-01 00:00:00|2025-12-07 06:40:00|                       10|
|  BRONX|2020-01-01 00:00:00|2025-12-07 08:30:00|                       10|
|  BRONX|2020-01-01 00:00:00|2025-12-07 09:25:00|                       10|
|  BRONX|2020-01-01 00:00:00|2025-12-07 11:27:00|                       10|
+-------+-------------------+-------------------+-------------------------+
only showing top 20 rows